:root {
    --blue: #337ab7;
    --blueH: rgba(51, 122, 183, 1);
    --darkerBlue: #0b3f93;
    /*--darkerBlueH: rgba(40, 110, 240, 1);*/
    --darkerBlueH: rgba(20, 64, 135, 0.85);
    --theDarkestBlue: #04317a;
    --theDarkestBlueH: rgba(20, 80, 122, 0.4);
}

.alarmForm{
  width: auto;
}

.alarmForm__buttonRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputIndicator{
  width: 100px;
  height: 100px;
  text-align: center;
  border: none;
}

.inputIndicator:disabled{
  background-color: white;
}

.buttonPM {
  position: relative;
  display: block;
  margin: 0px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: var(--blueH);
  color: #ecf0f1;
  transition: background-color .3s;
}

.buttonPM:hover, .buttonPM:focus {
  background-color: var(--darkerBlueH);
  cursor: pointer;
}

.buttonPM > * {
  position: relative;
}

.buttonPM span {
  display: block;
  padding: 12px 24px;
}

.buttonPM:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  /*background-color: rgba(236, 240, 241, .3);*/
  background-color: var(--theDarkestBlueH);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.buttonPM:active:before {
  width: 140%;
  padding-top: 140%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

.buttonPM:nth-child(1){ margin-right: 4px; }

.buttonPM:nth-child(2){ margin-left: 4px; }

.inputIndicator:nth-child(1){ margin-right: 4px; }

.inputIndicator:nth-child(2){ margin-left: 4px; }

.buttonSubmit{
  width: 208px;
  height: 100px;
  background-color: #f2711c;
}

.buttonSubmit:hover, .buttonSubmit:focus{
  width: 208px;
  height: 100px;
  background-color: #E26202;
}

.alarmForm__repeatRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  margin: 10px 0 6px 0;
  transition: 0.2s;
  border-bottom: 4px solid transparent;
  font-size: 15px;

}
.alarmForm__repeatRow:hover{
  box-shadow: 0px 0px 71px -15px rgba(0,0,0,0.75);
  border-bottom: 4px solid var(--blue);
  transform:scale(1.01, 1.01);
}

.alarmForm__repeatRow__days{
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px
}

.alarmForm__repeatRow__days--active{
  color: var(--blue);
  font-weight: bold;
}

.alarmForm__snoozeTaskRow{

}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.alarmForm__TaskRow {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 5px 0 15px 5px;
  padding-left: 5px;
  text-align: left;
}
.alarmForm__TaskRow.alarmForm__TaskRow-inline {
  display: inline-block;
}
.alarmForm__TaskRow .taskRow__label {
  cursor: pointer;
}
.alarmForm__TaskRow .taskRow__label:before, .alarmForm__TaskRow .taskRow__label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.alarmForm__TaskRow .taskRow__label:before {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.3s;
}
.alarmForm__TaskRow .taskRow__chbox {
  outline: 0;
  margin-right: 10px;
  visibility: hidden;
}
.alarmForm__TaskRow .taskRow__chbox:checked + .taskRow__label:before {
  background: var(--blueH);
  border: none;
}
.alarmForm__TaskRow .taskRow__chbox:checked + .taskRow__label:after {
  transform: rotate(-45deg);
  top: 5px;
  left: 4px;
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.alarmForm__TaskRow .taskRow__chbox:disabled + .taskRow__label:before {
  border-color: rgba(0, 0, 0, 0.26);
}
.alarmForm__TaskRow .taskRow__chbox:disabled:checked + .taskRow__label:before {
  background: rgba(0, 0, 0, 0.26);
}





.alarmForm__AlarmNameRow 			  {
  position:relative;
  margin-bottom:30px;
  margin-top: 10px;
}
.alarmForm__AlarmNameRow__input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:208px;
  border:none;
  border-bottom:1px solid #757575;
}
.alarmForm__AlarmNameRow__input:focus 		{ outline:none; }

/* LABEL ======================================= */
.alarmForm__AlarmNameRow__label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.alarmForm__AlarmNameRow__input:focus ~ .alarmForm__AlarmNameRow__label, .alarmForm__AlarmNameRow__input:valid ~ .alarmForm__AlarmNameRow__label 		{
  top:-10px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:208px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.alarmForm__AlarmNameRow__input:focus ~ .bar:before, .alarmForm__AlarmNameRow__input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:80px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.alarmForm__AlarmNameRow__input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
