.alarmSite{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
}

.alarmSite__left{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  width: 50%;
  padding-right: 50px;
}

.alarmSite__alarms{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding-left: 50px;
}

.alarmSite__alarms-enter{
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-60%) !important;
}

.alarmSite__alarms-enter-active{
  visibility: visible;
  opacity: 1;
  transform: translateX(0) !important;
}

.alarmSite__alarms-leave{
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
  transform: translateX(0) !important;
}

.alarmSite__alarms-leave-active{
  visibility: hidden;
  opacity: 0;
  transform: translateX(60%) !important;
}
