.popup {
  position: fixed;
  top: 0;
  left: 0;
  /*top: calc(50vh - 200px);
  left: calc(50vw - 175px);*/
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup__inner {
  position: absolute;
  top: calc(50vh - 250px);
  left: calc(50vw - 90px);
  height: 300px;
  width: 180px;
  margin: auto;
  background: white;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
}

.popup__inner__title{
  padding-bottom: 10px;
  border-bottom: 1px solid var(--theDarkestBlue);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup__inner__row{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.popup__inner__row:first-child{
}

.popup__inner__row__day{
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  font-size: 15px;
}

.popupClose{
  position: relative;
  background-color: white;
  border: 1px solid var(--theDarkestBlue);
  border-radius: 50%;
  top: -301px;
  left: 152px;
  font-size: 20px;
  outline: none;
}

.popupClose:hover{
  cursor: pointer;
}

.popup__boxDiv {
  position: relative;
  width: 20px;
  display: flex;
  align-items: flex-start;
  margin: 5px 0 15px 5px;
  padding-left: 5px;
  text-align: left;
}
.popup__boxDiv.popup__boxDiv-inline {
  display: inline-block;
}
.popup__boxDiv label {
  cursor: pointer;
}
.popup__boxDiv label:before, .popup__boxDiv label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.popup__boxDiv label:before {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.3s;
}
.popup__boxDiv .popup__checkbox {
  outline: 0;
  margin-right: 10px;
  visibility: hidden;
}
.popup__boxDiv .popup__checkbox:checked + label:before {
  background: var(--blueH);
  border: none;
}
.popup__boxDiv .popup__checkbox:checked + label:after {
  transform: rotate(-45deg);
  top: 5px;
  left: 4px;
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.popup__boxDiv .popup__checkbox:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}
.popup__boxDiv .popup__checkbox:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}
